.bohater-badge {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #3B3350;

  background: rgba(130, 143, 251, 0.18);
  border-radius: 3px;

  padding: 5px 9px;
}

.username {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #3B3350;
  margin-bottom: 5px;
}

.like-count {
  position: relative;
  margin-left: auto;

  .count {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 29%;

    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    color: #848CBA;

    &.is-liked {
      color: #828FFB;
    }
  }
}
