<ion-card *ngFor="let initiative of initiatives; trackBy: trackBy">
  <ion-card-header style="display: flex; align-items: center;">
    <img src="assets/img/Group 8.png" style="width: 70px;height: 70px;"/>
    <div style="margin-left: 10px;">
      <div class="username">
        {{initiative.author.first_name}} {{initiative.author.last_name}}
      </div>
      <div class="bohater-badge" [ngStyle]="{visibility: initiative.author.badge}">
        {{initiative.author.badge || 'x'}}
      </div>
    </div>
    <div class="like-count" (click)="toggleLike(initiative)">
      <img [src]="isLiked(initiative) ? 'assets/img/hearth-full.png' : 'assets/img/hearth.png'">
      <div class="count"
           [class.is-liked]="isLiked(initiative)"
      >
        {{initiative.votes}}
      </div>
    </div>
  </ion-card-header>

  <ion-card-content>
    <div class="title">{{initiative.title}}</div>
    <div class="description">{{initiative.body}}</div>
    <img src="assets/img/placeholder-image.png" alt="Image" class="image">
    <div class="separator"></div>

    <div class="links">
      <a [routerLink]="'details' + initiative.id">
        {{2 === 1 ? '1 komentarz' : 2 + ' komentarzy'}}
      </a>
      <a [routerLink]="''">
        {{2 === 1 ? '1 udostępnienie' : 2 + ' udostępnień'}}
      </a>
    </div>
  </ion-card-content>

</ion-card>
